{{#if addNewFeedback}}
<section class="feedbackSection">
  <h3>Tell us what you think about this product:</h3>
  <div class="container feedbackForm">
    <form>
      <div class="form-group">
        <label for="name">Name:</label>
        {{input value=name id="name"}}
      </div><br>

      <div class="form-group">
        <label for="eval">Review:</label>
        {{textarea value=eval id="eval"}}
      </div>

      <button class="btn saveBtn" {{action 'saveFeedback'}}>Submit Feedback</button>
    </form>
  </div>
</section>
{{else}}

  <div class="feedback text-center">
    <button class="btn" {{action 'feedbackFormShow'}}>Leave Feedback</button>
  </div>
{{/if}}
