<div class="productTile">
  <h4>{{product.title}}</h4>
  <img src="{{product.image}}">
  <p>{{product.description}}</p>
  ${{product.cost}}
  <p><button {{action 'addToCart' product}}>Add to Cart</button></p>
</div>
